.columnhevHeader {
    flex: 1;
    display: grid;
    position:relative;
    justify-content: center;
}
.stack-info-chasis {
    display: flex;
    justify-content: center;
    align-content: center;
}
.list-hev-form {
    padding-top: 20px;
    display: grid;
}
.list-hev {
    display: inline-grid;
    padding-top: 20px;
}
.attachtable {
    display: content;
    justify-content: center;
}
.hevList-div-center {
    display:grid;
    justify-content: center;
    flex: 1;
}
.hevList-div {
    display: grid;
    padding-top:30px;
}
.list-support-div {
    display: flex;
    /* justify-content: center; removed for UL HEV support look good */
    padding-bottom: 1em;
}
.hev-info-list-div {
    display: inline-flex;
}
.list-hevInfo {
    display:flow;
}
.attach-field {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-block-start: 0em;
    padding-inline-start: 0em;
    padding-inline-end: 0em;
    padding-block-end: 0em;
}
.remove-hve-button-div, .padding {
    padding-top: 10px;
}
.add_buttons {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.on_table_support_weapon_table, .on_table_support_weapon_table th, .on_table_support_weapon_table tr, .on_table_support_weapon_table td {
    border: 1px solid;
    border-collapse: collapse;
}
.on_table_support_weapon_table th, .on_table_support_weapon_table tr, .on_table_support_weapon_table td {
    text-align: center;
}
.on_table_support_weapon_table, .on_table_ul_support_table {
    padding-top: 12px;
}
.on_table_ul_support_table, .on_table_ul_support_table th, .on_table_ul_support_table tr .on_table_ul_support_table td {
    border: 1px solid;
    text-align: center;
}

.support-table, .support-table th, .support-table td {
    padding-bottom: 2px;
    padding-top: 2px;
    border: 0px;
    border-collapse: unset;
    empty-cells: show;
}
.stc-label-support, .stc-label-limit-token, .stc-input-limit-token, .stc-input-traits {
    width: 80px;
}
.stc-input-cost, .stc-input-traits {
    width: 50px;
}
.stc-label-traits {
    width: 50px;
}
.stc-label-cost td {
    width: 40px;
}
.stc-select {
    width: 150px;
}
.stc-label-damage {
    width: 65px;
}
.stc-delete {
    width: 105px;
}
fieldset, grid {
    display: grid;
}
.removehevbutton {
    left: 40%;
    position: relative;
}
.list-header-main {
    padding: 0.2% 0.4%;
    margin: 0 34.6%;
}
.attachcelltable th {
    text-align: center;
}
.grid {
    display: grid;
}
.flex {
    display: flex;
}
.armor-struc-DropDown {
    max-width: 14ch;
    min-width: 14ch;
}
.list-attachmentDropDown {
    max-width: 25ch;
}
.notesdiv {
    display: inline-flex;
}
.vehicle-support-div {
    display: grid;
    /* display: inline-block; */
    /* width: 50%; */
}
.list-vehicle-support-div {
}
.ontable-support-list {
    width: 50%;
}
.support_list_vehicle, .support_list_ulhev, .support_list_infantry, .list-support-div-buttons {
    display: flex;
    justify-content: center;
}
.par_table_margin {
    margin-top: 0;
    margin-bottom: 0;
    white-space: pre;
    padding-left: 2px;
    padding-right: 2px;
}
.button-space-left {
    margin-left: 1em;
}
.button-space-right {
    margin-left: 1em;
    margin-right: 1em;
}
@media print{
    .noprint {
        display:none;
    }
    .page-break {
        page-break-before: auto;
        page-break-after: always;
    }
    .page-break-after {
        page-break-after: always;
    }
    .no-page-break {
        page-break-inside: avoid;
    }
    .attach-table-print {
        display: block;
    }
    .attach-table, .team-attach-table {
        display: none;
    }
    .list-hev-form {
        border-style: groove;
    }
    .list-hev {
        border-style: none;
    }
    .game-summary {
        display: block;
    }
}