.page-army-reference {
  padding: 96px * 0.5;
  font-size: 12px;

  .ref-heading {
    font-size: 1rem;
    //margin-top: 0.5rem;
  }

  .divider {
    border-bottom: 1px solid var(--bs-border-color);
    margin: .5rem 0;
  }
}