.page-army-reference {
  padding: 96px * 0.5;
  font-size: 11px;

  h2 {
    font-size: .7rem;
  }

  .ref-heading {
    //font-size: .7rem;
    font-size: .7rem;
    font-weight: $font-weight-medium;
    margin-bottom: 0.1rem;
  }

  .p-gap {
    margin-bottom: 0.3rem;
  }
  .divider {
    border-bottom: 1px solid var(--bs-border-color);
    margin: .5rem 0;
  }
}