$page-letter-width: 8.5 * 72pt;
$page-letter-height: 11 * 72pt;
$dividing-line-color: rgba(126, 126, 126, 0.25);
$footer-bg: #f7f9fc;
$page-preview-bg: #d0d0d0;
$heading-border-color: #7d8ba2;

.page-previews-container {
  background: $page-preview-bg;
  padding: 20px 0;
  border-top: 1px solid #444;
}

.page-preview {
  background: white;
  margin: 20px auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  page-break-after: always;
  padding: 0;

  &.page-letter {
    width: $page-letter-width;
    height: $page-letter-height;
  }

  &.page-letter-width {
    width: $page-letter-width;
  }
}

.print-settings-container {
  width: $page-letter-width;
}

@page {
  margin: 0;
  size: letter portrait;
  -webkit-print-color-adjust: exact;
}

@media print {

  .print-settings-container {
    display: none;
  }

  grammarly-desktop-integration {
    display: none;
  }

  html body {
    background-color: #fff;
    display: block !important;
    width: 100%;
    height: 100%;
  }
  .page-preview {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
    background-color: white;
  }

  .page-previews-container {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
    /* Set the background to gray to visualize the page size in the print preview */
    background-color: gray;
  }

  .app-header,
  .no-print {
    display: none;
  }
}
