@import "../../node_modules/bootstrap/scss/functions";

$dropdown-border-width: 1px;

$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: shade-color(#dc3545, 10%);
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: shade-color($blue, 20%);
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;

$success-text-emphasis: shade-color($success, 40%);
$danger-text-emphasis: shade-color($danger, 40%);


$body-tertiary-bg: #e9ecef;

$dropdown-header-padding-y: .2rem;
$dropdown-divider-margin-y: .2rem;

$btn-focus-box-shadow: 0;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import '../../node_modules/bootstrap-vue-next/src/styles/styles';
@import "./bootstrap-vue-component-styles";

@import "./dropdown";
@import "./collapse";

body {
  background: tint-color($cyan, 80%);
}

.mech-stats > .row:nth-child(even) {
  background-color: var(--bs-light-bg-subtle);
}

.card {
  margin-top: .5rem;
  margin-bottom: .5rem;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form-label-top {
  padding: 0 $btn-padding-x;
  margin-bottom: .25rem;
  font-weight: bold;
}

.card-header-btn-padding {
  padding-top: $btn-padding-y;
  font-size: 1rem;

}

.btn-grab {
  border: 1px solid $gray-300;

  &:hover {
    cursor: ns-resize;
  }
}

.number-cell {
  text-align: right;
}

.number-zero {
  opacity: 0.5;
}

.number-positive {
  color: $success;
}

.number-negative {
  color: $danger;
}
