@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,1&icon_names=block,check,content_copy,delete,flag,keyboard_double_arrow_down,keyboard_double_arrow_up,lock,print,shield_question,warning");

.material-symbols-outlined {
  vertical-align: -.2em;
  font-size: 1.2rem;

  font-variation-settings: 'FILL' 1,
  'wght' 400,
  'GRAD' 1,
  'opsz' 24
}
